<!DOCTYPE html>
<html>
<head>
    <title>어디가게</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="fankids">
    <meta name="keywords" content="학원, 공부방, 과외, 어디갈까, 맛집, 모임, 육아, 나눔, 이웃, 친구">
    <meta name="description" content="나의 위치를 기반으로 주변의 학원, 갈만한 곳을 추천해주는 서비스입니다. ">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fankids.co.kr">
    <meta property="og:title" content="eodiga">
    <meta property="og:description" content="어디 가고 싶은데">
    <meta property="og:image" content="http://www.fankids.co.kr/static/images/main-logo-14-up.png">

    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico') }}"/>
    {#    <link rel="manifest" href="/static/assets/images/favicons/manifest.json">#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/vendors/prism/prism-okaidia.css" rel="stylesheet">
    <link href="/static/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/static/assets/css/theme-rtl.css" rel="stylesheet" id="style-rtl">
    <link href="/static/assets/css/theme.css" rel="stylesheet" id="style-default">
    <link href="/static/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/static/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/config.js"></script>
    <script src="/static/vendors/simplebar/simplebar.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sigungu_h.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hangjungdong_b.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script>
        function init(){
            subject_list(1, belong_idx);
            $('#ul_class_manage').attr('class','show');
            $('#class_manage_03').attr('class','active');
        };

        var isRTL = JSON.parse(localStorage.getItem('isRTL'));
        if (isRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
    <!-- script
    ================================================== -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/member_info.js') }}"></script>

</head>
<body onload="init();">
<main class="main" id="top">
    <div id="container" class="container">
        <script>
            var isFluid = JSON.parse(localStorage.getItem('isFluid'));
            if (isFluid) {
                var container = document.querySelector('[data-layout]');
                container.classList.remove('container');
                container.classList.add('container-fluid');
            }
        </script>
        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">{% include 'nav.html' %}</nav>
        <div class="content">
            <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">{% include 'nav2.html' %}</nav>
            <p style="margin-left: 10px;"><b>과목 관리</b></p>

            <div class="card" id="ticketsTable" data-list='{"valueNames":["client","subject","status","priority","agent"],"page":11,"pagination":true,"fallback":"tickets-table-fallback"}'>
                <div class="card-header">
                    <div style="display: flex; justify-content: flex-start;">
                        <div  style="margin-right: auto; margin-left: 20px;" id="paging_info">
                        </div>
                        <div>
                        <button class="btn btn-falcon-default btn-sm d-none d-sm-block me-2" type="button" onclick="javascript:location.href='/subject_info/subject_info_create_ready';"><span class="fas fa-plus"></span><span class="d-none d-xl-inline-block ms-1">반 만들기</span></button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="card-body tab-pane active p-0 table-responsive scrollbar" id="student" role="tabpanel" aria-labelledby="contact-student-tab">
                        <table class="table table-hover table-striped overflow-hidden">
                            <thead class="text-800 bg-light">
                            <tr>
                                <th class="py-2 fs-0 pe-2" style="width: 28px;">
                                    <div class="form-check d-flex align-items-center">
                                    </div>
                                </th>
                                <th scope="col" class="sort align-middle">과목명1</th>
                                <th scope="col" class="sort align-middle">과목명2</th>
                                <th scope="col" class="sort align-middle">등록일</th>
                            </tr>
                            <tbody class="list" id="data-container">
                            </tbody>
                            <tr>
                                <td colspan="4" style="border-bottom-style : none;">
                                    <div class="row" style="margin: auto;" id="load-more-div">
                                        <button id="load-more" class="btn btn-secondary me-1 mb-1">Load More</button>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>{% include 'footer.html' %}</footer>
</main>
<script src="{{url_for('static', filename='js/index_home.js')}}"></script>
<script src="{{url_for('static', filename='js/subject_info.js')}}"></script>
<script src="{{url_for('static', filename='js/edu_info.js')}}"></script>
<script src="{{url_for('static', filename='js/common.js')}}"></script>
<script src="/static/vendors/popper/popper.min.js"></script>
<script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/static/vendors/anchorjs/anchor.min.js"></script>
<script src="/static/vendors/is/is.min.js"></script>

<script src="/static/vendors/fullcalendar/main.min.js"></script>
<script src="/static/assets/js/flatpickr.js"></script>
<script src="/static/vendors/dayjs/dayjs.min.js"></script>
<script src="/static/vendors/swiper/swiper-bundle.min.js"></script>

<script src="/static/vendors/echarts/echarts.min.js"></script>
<script src="/static/vendors/fontawesome/all.min.js"></script>
<script src="/static/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
{#<script src="/static/vendors/list.js/list.min.js"></script>#}
<script src="/static/assets/js/theme.js"></script>
<script src="/static/js/dashboard.js"></script>
</body>
</html>