<footer id="footer">
    <section>
        <div class="container">
            <div class="row d-flex">
{#                        <div class="col-lg-3 col-sm-6 pb-3">#}
{#                            <div class="footer-menu">#}
{#                                <img src="{{ url_for('static', filename='images/main-logo-04.png')}}" style="width: 90px;" alt='logo' class='mb-2'/>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-3 col-sm-6 pb-3">#}
{#                            <div class="footer-menu contact-item" style="margin-left: 10px;">#}
{#                                <h4 class="widget-title pb-2">Contact info</h4>#}
{#                                <ul class="menu-list list-unstyled">#}
{#                                    <li class="mb-0 text-600 opacity-85">#}
{#                                       1144012700 1653#}
{#                                    </li>#}
{#                                    <li class="mb-0 text-600 opacity-85">#}
{#                                        - CEO: 김대표#}
{#                                    </li>#}
{#                                    <li class="mb-0 text-600 opacity-85">#}
{#                                       - CTO: 진화를 위한 잉여성 DNA#}
{#                                    </li>#}
{#                                    <li class="mb-0 text-600 opacity-85">#}
{#                                       - COO: 서울한강 잉어#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                <hr>
                <div>
                    <div class="footer-menu" style="display: flex; margin-left: 40px;">
                        <p class="mb-0 text-600 opacity-85">© Copyright 2024 어디가게</p><img src="{{ url_for('static', filename='images/main-logo-04.png')}}" style="width: 90px; margin-left: 5px;" alt='logo' class='mb-2'/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>