<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <link rel="icon" href="{{url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/jquery.jscrollpane.custom.css')}}/>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/bookblock.css') }}/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css') }}"/>
    <script src={{url_for('static', filename='js/modernizr.custom.79639.js')}}></script>
    <script src={{url_for('static', filename='js/geo_json.js')}}></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sigungu_h.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hangjungdong_b.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body onload="javascript:init_login();">
<div id="container" class="container">
    <div id="map" style="width: 100%"></div>
    <div class="menu-panel" id="menu-panel">
        <a href="{{url_for('map_info.results')}}"><img src="{{ url_for('static', filename='images/bi.png')}}" /></a>
        <ul id="menu-toc" class="menu-toc">
            <div>
                <img src="{{ url_for('static', filename='images/title.png')}}" />
            </div>
            <div style="float:left; margin-left: 15px"><img src="{{ url_for('static', filename='images/bullet.png')}}"/></div>
            <div style="color: #ffffff; float:left; margin-left: 10px; margin-bottom:15px; font-size:12px;">{{session['id']}}님 안녕하세요.</div>
            <div id="button_03">
                <button id="edu_analy" type="button" onclick="location.href='{{url_for('map_info.results')}}'">교육 상권 분석</button>
                <button id="member_toggle" type="button" onclick="location.href='{{url_for('map_info.member_info')}}'">한솔 회원 정보만 보기</button>
            </div>
            <div id="button_04">
                <button id="asobi_toggle" type="button" onclick="asobi_toggle(); this.onclick='';">아소비</button>
                <div style="float:left; margin-left: 70px; margin-bottom:15px; color: #ffffff; font-size:12px;">
                    <a href="#" onclick="info_open('#info_open_div', '아소비')" class="info_open">가맹 정보 (정보공개서) &nbsp; &nbsp;<img src="{{ url_for('static', filename='images/info_open.png')}}" style="vertical-align: middle;"></a>
                </div>
                <button id="gitan_toggle" type="button" onclick="alert('데이터 준비중 입니다.');">기탄</button>
                <div style="float:left; margin-left: 70px; margin-bottom:15px; color: #ffffff; font-size:12px;">
                    <a href="#" onclick="info_open('#info_open_div', '기탄')" class="info_open">가맹 정보 (정보공개서) &nbsp; &nbsp;<img src="{{ url_for('static', filename='images/info_open.png')}}" style="vertical-align: middle;"></a>
                </div>
            </div>
            <div style="color: #ffffff; float:left; margin-left: 10px; margin-top:15px; margin-bottom:15px; font-size:12px;">
                ※ 우측 레이어 컨트롤 버튼을 이용하여 <br>
                &nbsp; &nbsp;  영역별 위치를 볼 수 있습니다. <br><br>
                ※ 신기한/플라톤 고객의 경우 위치가  <br>
                &nbsp; &nbsp; 겹치면 안보일 수 있습니다. <br>
                &nbsp; &nbsp; 컨트롤 버튼을 이용하여 확인하세요.
            </div>
            <div id="button_03">
                <button id="logout" type="button" onclick="location.href='{{url_for('member_info.logout')}}'">로그아웃</button>
            </div>
        </ul>
        <ul id="detail_info" class="detail_info">
        </ul>
    </div>
    <span id="tblcontents" class="menu-button" onclick="toggleBtn1()";></span>
</div><!-- /container -->
<div class="wrap-loading display-none">
    <div><img src="../static/images/Ghost.gif" width="64" height="64" style="border-radius: 50%;"/></div>
</div>
    <div id="info_open_div" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts" id="input1" style="overflow:scroll; height:600px;" >
                <table class="table"  style="color: #333333; font-size:12px;">
                    <tr>
                        <td width="25%"><li class="item1" style="display:inline-block;">* 회사명: </li></td>
                        <td>
                            <input typ="text" id="item1" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item2" style="display:inline-block;">* 브랜드: </li></td>
                        <td>
                        <input typ="text" size="90%" id="item2" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item3" style="display:inline-block;">* 대표자: </li></td>
                        <td>
                            <input typ="text" size="90%" id="item3" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <li class="item4" style="display:inline-block;">* 최초 등록일: </li>
                        </td>
                        <td>
                            <input typ="text" size="90%" id="item4" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item5" style="display:inline-block;">* 유형: </li></td>
                        <td>
                            <input typ="text" size="90%" id="item5" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item6" style="display:inline-block;">* 정보공개서 URL: </li></td>
                        <td>
                            <input typ="text" size="90%" id="item6" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item7" style="display:inline-block;">* 21년 가맹점 및 직영점 현황:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item7" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item8" style="display:inline-block;">* 21년 가맹점 수:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item8" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item9" style="display:inline-block;">* 21년 직영점 수:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item9" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item10" style="display:inline-block;">* 21년 평균 매출액:</li></td>
                        <td>
                           <input typ="text" size="90%" id="item10" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item11" style="display:inline-block;">* 21년 평강 매출액:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item11" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item12" style="display:inline-block;">* 가입비(가맹비):</li></td>
                        <td>
                            <input typ="text" size="90%" id="item12" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item13" style="display:inline-block;">* 교육비:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item13" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item14" style="display:inline-block;">* 보증금:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item14" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item15" style="display:inline-block;">* 기타비용:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item15" value="" style="border:0 solid black">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><li class="item16" style="display:inline-block;">* 합계:</li></td>
                        <td>
                            <input typ="text" size="90%" id="item16" value="" style="border:0 solid black">
                        </td>
                    </tr>
                </table>
                <div class="btn-r">
                    <a href="#" class="btn-layerClose">Close</a>
                </div>
            </div>
        </div>
    </div>
<script>
    var map;
    var tile_layer;

    // map 생성
    map = L.map('map').setView([36.5, 127.5], 8);
    // 타일 레이어 생성
    tile_layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors',
            'detectRetina': false,
            'maxNativeZoom': 25,
            'maxZoom': 18,
            'minZoom': 8
        }
    ).addTo(map);
    map.removeControl(map.zoomControl);

    var asobi_layerGroup = L.layerGroup().addTo(map);
    var asobi_markers = new L.MarkerClusterGroup();

    var layer_control = {
        base_layers : {
            "openstreetmap" : tile_layer
        },
        overlays :  {
            "아소비 공부방": asobi_markers
        },
    };

    L.control.layers(
        layer_control.base_layers,
        layer_control.overlays,
        {"autoZIndex": true, "collapsed": true, "position": "topright"}
    ).addTo(map);

    function data_load(){
        asobi_toggle();
    }
    function asobi_toggle() {
        var marker_i;
        var cu_icon;
        var c;
        var popup_i;
        var html_i;

        var postdata = {
            'type': ""
        }
        $.ajax({
            type: 'POST',
            url: '/map_info/asobi_info',
            data: JSON.stringify(postdata),
            dataType: 'JSON',
            contentType: "application/json",
            success: function (data) {
                c = data.result2['id_counter'];

                for (var i = 1; i <= c; i++) {
                    {#marker_i = L.marker([data.result2['lat_' + i], data.result2['lon_' + i]], {}).addTo(asobi_layerGroup);#}
                    marker_i = L.marker([data.result2['lat_' + i], data.result2['lon_' + i]], {});
                    asobi_markers.addLayer(marker_i);
                    map.addLayer(asobi_markers);

                    cu_icon = L.icon({
                        iconUrl: '../static/icons/R/R01_01.png',
                        iconSize: [22, 21], // size of the icon                                iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                        popupAnchor: [0, -10] // point from which the popup should open relative to the iconAnchor
                    });
                    marker_i.setIcon(cu_icon);
                    popup_i = L.popup({"maxWidth": "100%"});
                    html_i = $('<div id="html_i" style="width: 300px; height: 100.0%; align: center;">'
                        + data.result2['Addr_' + i] + '</div>')[0];
                    popup_i.setContent(html_i);
                    marker_i.bindPopup(popup_i);
                    marker_i.bindTooltip('<div>' + data.result2['storeNm_' + i] + '</div>', {"sticky": true});
                }
            },
            beforeSend:function(){
                // (이미지 보여주기 처리)
                $('.wrap-loading').removeClass('display-none');
            },complete:function(){
                // (이미지 감추기 처리)
                $('.wrap-loading').addClass('display-none');
            },
            error: function (request, status, error) {
                alert('데이터를 가지고 오는데 실패했습니다.')
                alert(error);
            }
        })
    };

    function init_login() {
        if ("{{session['id']}}" == ""){
            alert("올바른 경로가 아닙니다.\n로그인 페이지로 이동합니다.");
            location.href="/login";
        }
    };

    function toggleBtn1() {
        // 토글 할 버튼 선택 (btn1)
        const menu = document.getElementById('menu-panel');
        const button = document.getElementById('tblcontents');

        // btn1 숨기기 (display: none)
        if(menu.style.display !== 'none') {
            menu.style.display = 'none';
            button.style.left = 20;
        }
        // btn` 보이기 (display: block)
        else {
            menu.style.display = 'block';
            button.style.left = 260;
        }
    };
</script>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/edu_info.js') }}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.jscrollpane.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.bookblock.js')}}"></script>
<script src="{{url_for('static', filename='js/page.js')}}"></script>
<script>
    $(function() {
        Page.init();
    });
</script>
</html>
